* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    position: relative;
    height: 100vh;
    margin: 100px 25%;
}

.title {
    text-align: center;
}

.world {
    width: 100%;
    margin: 50px auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.location {
    text-align: center;
}

.time {
    text-align: center;
}

#map {
    height: 500px;
    margin: 0 auto 50px auto;
}